*{ margin: 0 auto; padding: 0; list-style: none; }

.header{ display: flex; margin-top: 30px; }

.user-name{ display: flex; justify-content: center; margin-top: 10px; font-weight: 900; cursor: default; }
.user-name div{ background: #FF8800; border-radius: 10px; padding: 10px 20px; color: #fff; }

.user-menu{ margin-top: 10px; }
.nav{ padding-bottom: 10px; border-bottom: #ddd solid 1px; }
.user-menu,
.nav{ display: flex; flex-wrap: wrap; justify-content: center; }
.user-menu .title,
.nav .title{ margin: 10px}
.user-menu .title a:hover,
.nav .title a:hover{ background: #FF8800; font-weight: 900; color: #fff; }
.user-menu .title a,
.nav .title a{ color: #505050; text-decoration: none; font-size: 18px; padding: 10px;  background: #fff; transition: background-color .3s; }
.user-menu .title img,
.nav .title img{ width: 18px; height: 18px; position: relative; top: 3px; }
.user-menu .sub,
.nav .sub{ display: none; z-index: 10; position: absolute; }
.user-menu .sub li,
.nav .sub li{ margin: 20px; position: relative; left: -20px; }

.content{ display: flex; justify-content: center; margin: 10px 0; }
.content>.slick { flex: none; width:100%; max-width: 72%; }

.register,
.update-data,
.login{ text-align: center; font-size: 20px; }
.register div,
.update-data div,
.login div{ margin: 10px 0; }
.register div:nth-child(1),
.update-data div:nth-child(1),
.login div:nth-child(1){ margin-bottom: 20px; }
.register div:nth-last-child(1),
.update-data div:nth-last-child(1),
.login div:nth-last-child(1){ margin-top: 20px; }
.register input,
.update-data input,
.login input{ font-size: 20px; border-radius: 10px; border: #ddd 1px solid; padding: 10px; }
.register input:focus,
.update-data input:focus,
.login input:focus,
.register button:focus,
.update-data button:focus,
.login button:focus,
.login a:focus{ outline: none; }
.register button,
.update-data button,
.login button,
.login a{ color: #fff; background: #FF8800; border: none; border-radius: 10px; padding: 10px; cursor: pointer; font-size: 14px; text-decoration: none; }
.register button:hover,
.update-data button:hover,
.login button:hover,
.login a:hover{ font-weight: 900; }

.admin-user{ border: #FF8800 1px solid; border-radius: 10px; text-align: center; }
.admin-user>div{ padding: 5px; }
.admin-user>div:nth-child(1){ border-bottom: #FF8800 1px solid; }
.admin-user>div:nth-child(2){ font-weight: 900; background: #FF8800; }
.admin-user>div:nth-last-child(1){ margin: 5px; display: flex; }
.admin-user .title,
.admin-user .list{ display: flex; }
.admin-user .title div:nth-child(1),
.admin-user .list div:nth-child(1){ width: 50px; }
.admin-user .title div:nth-child(2),
.admin-user .list div:nth-child(2){ width: 250px; }
.admin-user .title div:nth-child(3),
.admin-user .list div:nth-child(3){ width: 100px; }
.admin-user .title div:nth-child(4),
.admin-user .list div:nth-child(4){ width: 100px; }
.admin-user .list div{ border-bottom: #FF8800 1px solid; padding: 5px; }
.admin-user .list a{ cursor: pointer; text-decoration: none; color: #000; }
.admin-user .list a{ background: #fff; border: #FF8800 1px solid; border-radius: 10px; padding: 2px; }
.admin-user .list a:hover{ font-size: 18px; }
.admin-user .list a:focus{ outline: none; }
.admin-user .list:hover{ font-weight: 900; cursor: default; }
/* .admin-user .control-box div:nth-child(1){ display: flex; } */
.pagination{ display: flex; justify-content: flex-end; }
.pagination li{ margin: 0 3px; }
.pagination span{ font-weight: 900; color: #fff; background-color: #FF8800; border-radius: 3px; padding: 4px; }
.pagination li a{ text-decoration: none; color: black; border: #FF8800 1px solid; border-radius: 3px; padding: 3px; }
.pagination li a:hover{ color: #fff; background: #FF8800; font-weight: 900; }

.footer{ display: flex; flex-wrap: wrap; justify-content: center; background: #FF8800; margin-top: 10px; padding: 20px 0; }
.footer .info{ color: #fff; }
.footer .links{ line-height: 89.6px; }
.footer .links a{ text-decoration: none; font-weight: 900; color: #fff; margin: 10px; }
.footer .links img{ width: 30px; position: relative; top: 7px; }